.tileP {
   /* --hp-current: 120%; */
   --hp-current: 24%;
}

.tileP::after {
   content: '';
   position: absolute;
   display: block;
   width: var(--hp-current);
   height: 3px;
   top: 0;
   left: -25%;
   background-color: #00ff00;
}